<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Se especifica la codificación de caracteres para el documento -->
    <meta charset="utf-8">
    <!-- Se indica al navegador que la página web está optimizada para dispositivos móviles -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Título del documento -->
    <title>Titulo</title>
    <!-- Importación de archivos CSS -->
    <link rel="stylesheet" href="../../resources/css/material-icons.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../resources/css/style.css" type="text/css">
    <!-- Llamada a un archivo tipo icono -->
    <!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> -->
</head>
<body>
    <!-- Encabezado del documento -->
    <header>

    </header>
    <!-- Contenido principal del documento -->
    <main>

    </main>
    <!-- Pie del documento -->
    <footer>

    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- Importación de archivos JavaScript al final del documento para una carga optimizada -->
    <script src="../../resources/js/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="../../resources/js/popper.min.js" type="text/javascript"></script>
    <script src="../../resources/js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>
