<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Se especifica la codificación de caracteres para el documento -->
    <meta charset="utf-8">
    <!-- Se indica al navegador que la página web está optimizada para dispositivos móviles -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Título del documento -->
    <title>Titulo</title>
    <!-- Importación de archivos CSS -->
    <link rel="stylesheet" href="../../resources/css/normalize.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap">
    <link rel="stylesheet" href="../../resources/css/all.min.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../resources/css/publicstyle.css" type="text/css">
    <!-- Llamada a un archivo tipo icono -->
    <!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> -->
</head>

<body>
    <!-- Encabezado del documento -->
    <header class="header-normal">
        <div class="menu-toggle">
            <i class="fas fa-bars"></i>
        </div>
        <div class="overlay"></div>

        <nav class="navegation">
            <i class="fas fa-times close"></i>
            <div class="logo">
                <img src="../../resources/img/logos.svg" alt="logo">
            </div>

            <div class="nav-middle">
                <ul>
                    <li>
                        <a href="#">Mujeres</a>
                    </li>
                    <li>
                        <a href="#">Hombres</a>
                    </li>
                    <li>
                        <a href="#">Niños</a>
                    </li>
                    <li>
                        <a href="#">Exclusivo</a>
                    </li>
                    <li>
                        <a href="#">Suscripción</a>
                    </li>
                </ul>
            </div>

            <div class="nav-right">
                <ul>
                    <li>
                        <a href="#"><i class="fas fa-search"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-user"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-shopping-cart"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Encabezado del documento -->
    <div class="container-fluid">
        <h1 class="general-title my-5">Cesta de compra</h1>
        <div class="row mx-0 my-2">
            <div class="col-sm-7 mx-0">
                <main class="cart-left mx-5">
                    <!-- Carrito -->
                    <section class="cart-left">
                        <div class="text-center mb-0">
                            <div class="card card-cart">
                                <img src="../../resources/img/socks.jpg" alt="" class="cart-image">
                            </div>
                        </div>
                    </section>
                    <section class="cart-left">
                        <div class="text-center mb-0">
                            <div class="card card-cart">
                                <img src="../../resources/img/socks.jpg" alt="" class="cart-image">
                            </div>
                        </div>
                    </section>
                    <section class="cart-left">
                        <div class="text-center mb-0">
                            <div class="card card-cart">
                                <img src="../../resources/img/socks.jpg" alt="" class="cart-image">
                            </div>
                        </div>
                    </section>
                    <section class="cart-left">
                        <div class="text-center mb-2">
                            <div class="card card-cart">
                                <img src="../../resources/img/socks.jpg" alt="" class="cart-image">
                            </div>
                        </div>
                    </section>
                </main>
            </div>
            <div class="col mx-0">
                <main class="cart-right mx-5">
                    <!-- Carrito -->
                    <section class="cart-right">
                        <div class="text-center mb-2">
                            <div class="card card-cart card-cart-description">
                                <div class="text-center mb-5 mt-5">
                                    <h1>Procesar compra</h1>
                                    <div class="text-left mb-2 mt-5 mx-5 d-flex justify-content-between">
                                        <h3>Subtotal:</h3>
                                        <h3>$15</h3>
                                    </div>
                                    <div class="text-left mb-5s mt-5 mx-5 d-flex justify-content-between">
                                        <h3>Envío:</h3>
                                        <h3>$2.5</h3>
                                    </div>
                                    <hr class="hr-cart">
                                    <div class="text-left mb-2 mt-5 mx-5 d-flex justify-content-between">
                                        <h3>Total:</h3>
                                        <h3>$17.5</h3>
                                    </div>
                                    <div class="text-center mb-2 mt-5 mx-5">
                                        <button type="button"
                                            class="btn btn-procesar-compra">Procesar compra</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </section>
                </main>
            </div>
        </div>
        <div class="col mx-5 mt-5">
            <h2>DATOS PERSONALES<i class="fas fa-pen cart-icons"></i></i></h2>
            <form class="form-inline">
                <div class="form-group mb-2">
                    <input type="text" readonly class="form-control-plaintext col-3" id="staticName" value="Ana Laura">
                    <input type="text" readonly class="form-control-plaintext col-3" id="staticSurname"
                        value="Navas Cañas">
                    <input type="text" readonly class="form-control-plaintext col-3" id="staticEmail"
                        value="lauranavasv@gmail.com">
                    <input type="text" readonly class="form-control-plaintext col-3" id="staticPhoneNumber"
                        value="7957 0450">
                </div>
            </form>
        </div>
        <div class="col mx-5 mt-5">
            <h2>INFORMACIÓN DE ENVÍO<i class="fas fa-pen cart-icons mb-5"></i></i></h2>
            <form class="form-inline">
                <small>Direccion:</small>
                <div class="form-group mb-2 mx-3">
                    <select class="form-control">
                        <option>Final Autopista Norte y Quinta Avenida Norte, Condominios "Quinta Avenida", apartamento
                            10B3</option>
                        <option>Final Autopista Norte y Quinta Avenida Norte, Condominios "Quinta Avenida", apartamento
                            10B3</option>
                        <option>Final Autopista Norte y Quinta Avenida Norte, Condominios "Quinta Avenida", apartamento
                            10B3</option>
                        <option>Final Autopista Norte y Quinta Avenida Norte, Condominios "Quinta Avenida", apartamento
                            10B3</option>
                    </select>
                </div>
            </form>
            <form class="form-inline mt-5">
                <small>Departamento:</small>
                <div class="form-group mb-2 mx-3">
                    <select class="form-control">
                        <option>San Salvador</option>
                        <option>Chalatenango</option>
                        <option>La Libertad</option>
                        <option>Cuscatlán</option>
                    </select>
                </div>
            </form>
        </div>


        <!-- Pie del documento -->
        <hr>
        <footer class="page-footer font-small pt-4 px-md-5">
            <!-- Footer Links -->
            <div class="container-fluid text-center text-md-left">
                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-3 mb-md-0 mb-3">

                        <!-- Links -->
                        <h5 class="text-uppercase">Links</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href="#!">Link 1</a>
                            </li>
                            <li>
                                <a href="#!">Link 2</a>
                            </li>
                            <li>
                                <a href="#!">Link 3</a>
                            </li>
                            <li>
                                <a href="#!">Link 4</a>
                            </li>
                        </ul>
                        <!-- Links -->

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 mb-md-0 mb-3">

                        <!-- Links -->
                        <h5 class="text-uppercase">Links</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href="#!">Link 1</a>
                            </li>
                            <li>
                                <a href="#!">Link 2</a>
                            </li>
                            <li>
                                <a href="#!">Link 3</a>
                            </li>
                            <li>
                                <a href="#!">Link 4</a>
                            </li>
                        </ul>
                        <!-- Links -->
                    </div>
                    <!-- Grid column -->
                    <hr class="clearfix w-100 d-md-none pb-3">
                    <!-- Grid column -->
                    <div class="col-md-6 mt-md-0 mt-3 text-md-right text-center">

                        <!-- Content -->
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacinia ultrices ipsum sit
                            amet
                            malesuada.</p>
                        <p><a href="#">hello@lostsocksociety.com</a></p>
                        <div class="logo">
                            <img src="../../resources/img/logos.svg" alt="logo">
                        </div>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
            <!-- Footer Links -->

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">©2020 Copyright Lost Sock. Todos los derechos reservados.
            </div>
            <!-- Copyright -->

        </footer>
        <!-- Footer -->
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <!-- Importación de archivos JavaScript al final del documento para una carga optimizada -->
        <script src="../../resources/js/jquery-3.4.1.min.js" type="text/javascript"></script>
        <script src="../../resources/js/popper.min.js" type="text/javascript"></script>
        <script src="../../resources/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="../../resources/js/main.js" type="text/javascript"></script>