<!DOCTYPE html>
<html lang="es">
    <head>
        <!-- Se especifica la codificación de caracteres para el documento -->
        <meta charset="utf-8">
        <!-- Se indica al navegador que la página web está optimizada para dispositivos móviles -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Título del documento -->
        <title>Titulo</title>
        <!-- Importación de archivos CSS -->
        <link rel="stylesheet" href="../../resources/css/normalize.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap">
        <link rel="stylesheet" href="../../resources/css/all.min.css">
        <link rel="stylesheet" href="../../resources/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="../../resources/css/publicstyle.css" type="text/css">
        <!-- Llamada a un archivo tipo icono -->
        <!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> -->
    </head>
    <!-- Cuerpo del documento -->
    <body>
        <!-- Encabezado del documento -->
        <header class="header-normal">
            <div class="menu-toggle">
                <i class="fas fa-bars"></i>
            </div>
            <div class="overlay"></div>
            <!-- Menú/nav -->
            <nav class="navegation">
                <i class="fas fa-times close"></i>
                <div class="logo">
                    <img src="../../resources/img/logos.svg" alt="logo">
                </div>
                <!-- Parte central del nav -->
                <div class="nav-middle">
                    <ul>
                        <li>
                            <a href="#">Mujeres</a>
                        </li>
                        <li>
                            <a href="#">Hombres</a>
                        </li>
                        <li>
                            <a href="#">Niños</a>
                        </li>
                        <li>
                            <a href="#">Exclusivo</a>
                        </li>
                        <li>
                            <a href="#">Suscripción</a>
                        </li>
                    </ul>
                </div>
                <!-- Parte derecha del nav -->
                <div class="nav-right">
                    <ul>
                        <li>
                            <a href="#"><i class="fas fa-search"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-user"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-shopping-cart"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Contenido principal -->
        <!-- Jumbotron -->
        <div class="jumbotron jumbotron-fluid cover jumbotron-sizing bg-image">
            <div class="container">
                <h1 class="display-3">Colección para hombres</h1>
            </div>
        </div>
        <!-- Grupo de cards para productos -->
        <div class="card-group mb-5 mx-5">
            <!-- Card -->
            <div class="card carrito-hover mx-5 border-0">
                <img class="card-img-top" src="../../resources/img/socks.jpg" alt="Card image cap">
                <div class="card-body">
                    <!-- Título de la card -->
                    <h2 class="card-title">WHALE SOCK</h2>
                    <h3>$5</h3>
                    <!-- Colores -->
                    <div class="colors mb-3">
                        <span class="color orange not-available rounded-circle" data-toggle="tooltip" title="Sin existencias"></span>
                        <span class="color green rounded-circle"></span>
                        <span class="color blue rounded-circle"></span>
                    </div>
                    <!-- Tallas -->
                    <select class="custom-select custom-select-reset col-sm-2 form-control-lg mr-5" id="inputGroupSelect01">
                        <option selected>S</option>
                        <option value="1">M</option>
                        <option value="2">L</option>
                        <option value="3">XL</option>
                    </select>
                    <!-- Botón de añadir a la cesta -->
                    <a href="#" class="btn mt-5 btn-add btn-cart-hover">Añadir a la cesta</a>
                </div>
            </div>
            <div class="card carrito-hover mx-5 border-0">
                <img class="card-img-top" src="../../resources/img/socks.jpg" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">WHALE SOCK</h2>
                    <h3>$5</h3>
                    <div class="colors mb-3">
                        <span class="color orange not-available rounded-circle" data-toggle="tooltip" title="Sin existencias"></span>
                        <span class="color green rounded-circle"></span>
                        <span class="color blue rounded-circle"></span>
                    </div>
                    <select class="custom-select custom-select-reset col-sm-2 form-control-lg mr-5" id="inputGroupSelect01">
                        <option selected>S</option>
                        <option value="1">M</option>
                        <option value="2">L</option>
                        <option value="3">XL</option>
                    </select>
                    <a href="#" class="btn mt-5 btn-add btn-cart-hover">Añadir a la cesta</a>
                </div>
            </div>
            <div class="card carrito-hover mx-5 border-0">
                <img class="card-img-top" src="../../resources/img/socks.jpg" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">WHALE SOCK</h2>
                    <h3>$5</h3>
                    <div class="colors mb-3">
                        <span class="color orange not-available rounded-circle" data-toggle="tooltip" title="Sin existencias"></span>
                        <span class="color green rounded-circle"></span>
                        <span class="color blue rounded-circle"></span>
                    </div>
                    <select class="custom-select custom-select-reset col-sm-2 form-control-lg mr-5" id="inputGroupSelect01">
                        <option selected>S</option>
                        <option value="1">M</option>
                        <option value="2">L</option>
                        <option value="3">XL</option>
                    </select>
                    <a href="#" class="btn mt-5 btn-add btn-cart-hover">Añadir a la cesta</a>
                </div>
            </div>
            <div class="card carrito-hover mx-5 border-0">
                <img class="card-img-top" src="../../resources/img/socks.jpg" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">WHALE SOCK</h2>
                    <h3>$5</h3>
                    <div class="colors mb-3">
                        <span class="color orange not-available rounded-circle" data-toggle="tooltip" title="Sin existencias"></span>
                        <span class="color green rounded-circle"></span>
                        <span class="color blue rounded-circle"></span>
                    </div>
                    <select class="custom-select custom-select-reset col-sm-2 form-control-lg mr-5" id="inputGroupSelect01">
                        <option selected>S</option>
                        <option value="1">M</option>
                        <option value="2">L</option>
                        <option value="3">XL</option>
                    </select>
                    <a href="#" class="btn mt-5 btn-add btn-cart-hover">Añadir a la cesta</a>
                </div>
            </div>
        </div>
        <div class="card-group mb-5 mx-5">
            <div class="card carrito-hover mx-5 border-0">
                <img class="card-img-top" src="../../resources/img/socks.jpg" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">WHALE SOCK</h2>
                    <h3>$5</h3>
                    <div class="colors mb-3">
                        <span class="color orange not-available rounded-circle" data-toggle="tooltip" title="Sin existencias"></span>
                        <span class="color green rounded-circle"></span>
                        <span class="color blue rounded-circle"></span>
                    </div>
                    <select class="custom-select custom-select-reset col-sm-2 form-control-lg mr-5" id="inputGroupSelect01">
                        <option selected>S</option>
                        <option value="1">M</option>
                        <option value="2">L</option>
                        <option value="3">XL</option>
                    </select>
                    <a href="#" class="btn mt-5 btn-add btn-cart-hover">Añadir a la cesta</a>
                </div>
            </div>
            <div class="card carrito-hover mx-5 border-0">
                <img class="card-img-top" src="../../resources/img/socks.jpg" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">WHALE SOCK</h2>
                    <h3>$5</h3>
                    <div class="colors mb-3">
                        <span class="color orange not-available rounded-circle" data-toggle="tooltip" title="Sin existencias"></span>
                        <span class="color green rounded-circle"></span>
                        <span class="color blue rounded-circle"></span>
                    </div>
                    <select class="custom-select custom-select-reset col-sm-2 form-control-lg mr-5" id="inputGroupSelect01">
                        <option selected>S</option>
                        <option value="1">M</option>
                        <option value="2">L</option>
                        <option value="3">XL</option>
                    </select>
                    <a href="#" class="btn mt-5 btn-add btn-cart-hover">Añadir a la cesta</a>
                </div>
            </div>
            <div class="card carrito-hover mx-5 border-0">
                <img class="card-img-top" src="../../resources/img/socks.jpg" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">WHALE SOCK</h2>
                    <h3>$5</h3>
                    <div class="colors mb-3">
                        <span class="color orange not-available rounded-circle" data-toggle="tooltip" title="Sin existencias"></span>
                        <span class="color green rounded-circle"></span>
                        <span class="color blue rounded-circle"></span>
                    </div>
                    <select class="custom-select custom-select-reset col-sm-2 form-control-lg mr-5" id="inputGroupSelect01">
                        <option selected>S</option>
                        <option value="1">M</option>
                        <option value="2">L</option>
                        <option value="3">XL</option>
                    </select>
                    <a href="#" class="btn mt-5 btn-add btn-cart-hover">Añadir a la cesta</a>
                </div>
            </div>
            <div class="card carrito-hover mx-5 border-0">
                <img class="card-img-top" src="../../resources/img/socks.jpg" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">WHALE SOCK</h2>
                    <h3>$5</h3>
                    <div class="colors mb-3">
                        <span class="color orange not-available rounded-circle" data-toggle="tooltip" title="Sin existencias"></span>
                        <span class="color green rounded-circle"></span>
                        <span class="color blue rounded-circle"></span>
                    </div>
                    <select class="custom-select custom-select-reset col-sm-2 form-control-lg mr-5" id="inputGroupSelect01">
                        <option selected>S</option>
                        <option value="1">M</option>
                        <option value="2">L</option>
                        <option value="3">XL</option>
                    </select>
                    <a href="#" class="btn mt-5 btn-add btn-cart-hover">Añadir a la cesta</a>
                </div>
            </div>
        </div>
        <div class="card-group mb-5 mx-5">
            <div class="card carrito-hover mx-5 border-0">
                <img class="card-img-top" src="../../resources/img/socks.jpg" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">WHALE SOCK</h2>
                    <h3>$5</h3>
                    <div class="colors mb-3">
                        <span class="color orange not-available rounded-circle" data-toggle="tooltip" title="Sin existencias"></span>
                        <span class="color green rounded-circle"></span>
                        <span class="color blue rounded-circle"></span>
                    </div>
                    <select class="custom-select custom-select-reset col-sm-2 form-control-lg mr-5" id="inputGroupSelect01">
                        <option selected>S</option>
                        <option value="1">M</option>
                        <option value="2">L</option>
                        <option value="3">XL</option>
                    </select>
                    <a href="#" class="btn mt-5 btn-add btn-cart-hover">Añadir a la cesta</a>
                </div>
            </div>
            <div class="card carrito-hover mx-5 border-0">
                <img class="card-img-top" src="../../resources/img/socks.jpg" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">WHALE SOCK</h2>
                    <h3>$5</h3>
                    <div class="colors mb-3">
                        <span class="color orange not-available rounded-circle" data-toggle="tooltip" title="Sin existencias"></span>
                        <span class="color green rounded-circle"></span>
                        <span class="color blue rounded-circle"></span>
                    </div>
                    <select class="custom-select custom-select-reset col-sm-2 form-control-lg mr-5" id="inputGroupSelect01">
                        <option selected>S</option>
                        <option value="1">M</option>
                        <option value="2">L</option>
                        <option value="3">XL</option>
                    </select>
                    <a href="#" class="btn mt-5 btn-add btn-cart-hover">Añadir a la cesta</a>
                </div>
            </div>
            <div class="card carrito-hover mx-5 border-0">
                <img class="card-img-top" src="../../resources/img/socks.jpg" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">WHALE SOCK</h2>
                    <h3>$5</h3>
                    <div class="colors mb-3">
                        <span class="color orange not-available rounded-circle" data-toggle="tooltip" title="Sin existencias"></span>
                        <span class="color green rounded-circle"></span>
                        <span class="color blue rounded-circle"></span>
                    </div>
                    <select class="custom-select custom-select-reset col-sm-2 form-control-lg mr-5" id="inputGroupSelect01">
                        <option selected>S</option>
                        <option value="1">M</option>
                        <option value="2">L</option>
                        <option value="3">XL</option>
                    </select>
                    <a href="#" class="btn mt-5 btn-add btn-cart-hover">Añadir a la cesta</a>
                </div>
            </div>
            <div class="card carrito-hover mx-5 border-0">
                <img class="card-img-top" src="../../resources/img/socks.jpg" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">WHALE SOCK</h2>
                    <h3>$5</h3>
                    <div class="colors mb-3">
                        <span class="color orange not-available rounded-circle" data-toggle="tooltip" title="Sin existencias"></span>
                        <span class="color green rounded-circle"></span>
                        <span class="color blue rounded-circle"></span>
                    </div>
                    <select class="custom-select custom-select-reset col-sm-2 form-control-lg mr-5" id="inputGroupSelect01">
                        <option selected>S</option>
                        <option value="1">M</option>
                        <option value="2">L</option>
                        <option value="3">XL</option>
                    </select>
                    <a href="#" class="btn mt-5 btn-add btn-cart-hover">Añadir a la cesta</a>
                </div>
            </div>
        </div>
        <!-- Pie del documento -->
        <hr>
        <footer class="page-footer font-small pt-4 px-md-5">
            <!-- Footer Links -->
            <div class="container-fluid text-center text-md-left">
                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-3 mb-md-0 mb-3">

                        <!-- Links -->
                        <h5 class="text-uppercase">Links</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href="#!">Link 1</a>
                            </li>
                            <li>
                                <a href="#!">Link 2</a>
                            </li>
                            <li>
                                <a href="#!">Link 3</a>
                            </li>
                            <li>
                                <a href="#!">Link 4</a>
                            </li>
                        </ul>
                        <!-- Links -->

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 mb-md-0 mb-3">

                        <!-- Links -->
                        <h5 class="text-uppercase">Links</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href="#!">Link 1</a>
                            </li>
                            <li>
                                <a href="#!">Link 2</a>
                            </li>
                            <li>
                                <a href="#!">Link 3</a>
                            </li>
                            <li>
                                <a href="#!">Link 4</a>
                            </li>
                        </ul>
                        <!-- Links -->
                    </div>
                    <!-- Grid column -->
                    <hr class="clearfix w-100 d-md-none pb-3">
                    <!-- Grid column -->
                    <div class="col-md-6 mt-md-0 mt-3 text-md-right text-center">

                        <!-- Content -->
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacinia ultrices ipsum sit amet
                            malesuada.</p>
                        <p><a href="#">hello@lostsocksociety.com</a></p>
                        <div class="logo">
                            <img src="../../resources/img/logos.svg" alt="logo">
                        </div>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
            <!-- Footer Links -->

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">©2020 Copyright Lost Sock. Todos los derechos reservados.</div>
            <!-- Copyright -->

        </footer>
        <!-- Footer -->
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <!-- Importación de archivos JavaScript al final del documento para una carga optimizada -->
        <script src="../../resources/js/jquery-3.4.1.min.js" type="text/javascript"></script>
        <script src="../../resources/js/popper.min.js" type="text/javascript"></script>
        <script src="../../resources/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="../../resources/js/main.js" type="text/javascript"></script>
    </body>
</html>