<!DOCTYPE html>
<html lang="es">
    <!-- Head -->
    <head>
        <!-- Se especifica la codificación de caracteres para el documento -->
        <meta charset="utf-8">
        <!-- Se indica al navegador que la página web está optimizada para dispositivos móviles -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Título del documento -->
        <title>Titulo</title>
        <!-- Importación de archivos CSS -->
        <link rel="stylesheet" href="../../resources/css/normalize.css">
        <link rel="stylesheet" href="../../resources/css/all.min.css">
        <link rel="stylesheet" href="../../resources/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="../../resources/css/publicstyle.css" type="text/css">
        <link rel="stylesheet" href="../../resources/css/bootstrapcomponents.css" type="text/css">
    </head>
    <!-- Head -->
    <!--Cuerpo del documento-->
    <body>
        <!--Encabezado del documento-->
        <header class="header-normal">
            <!-- Toggle button -->
            <div class="menu-toggle">
                <i class="fas fa-bars"></i>
            </div>
             <!-- Toggle button -->
            <div class="overlay"></div>
            <!-- Menú/nav -->
            <nav class="navegation fixed-top">
                <i class="fas fa-times close"></i>
                <!-- Logo del menú -->
                <div class="logo">
                    <img src="../../resources/img/logos.svg" alt="logo">
                </div>
                <!-- Logo del menú -->
                <!-- Parte central del nav -->
                <div class="nav-middle">
                    <ul>
                        <li>
                            <a href="#">Mujeres</a>
                        </li>
                        <li>
                            <a href="#">Hombres</a>
                        </li>
                        <li>
                            <a href="#">Niños</a>
                        </li>
                        <li>
                            <a href="#">Exclusivo</a>
                        </li>
                        <li>
                            <a href="#">Suscripción</a>
                        </li>
                    </ul>
                </div>
                <!-- Parte central del nav -->
                <!-- Parte derecha del nav -->
                <div class="nav-right">
                    <ul>
                        <li>
                            <a href="#"><i class="fas fa-search"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-user"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-shopping-cart"></i></a>
                        </li>
                    </ul>
                </div>
                <!-- Parte derecha del nav -->
            </nav>
            <!-- Menú/nav -->
        </header>
        <!--Encabezado del documento-->
        
        <!-- Contenido principal -->
        
        <div class="cover cover-sizing bg-image">
            <div class="product-info">
                <h1>BEE SOCK</h1>
                <p>Lorem ipsum, dolor sit amet consectet</p>
                <h2>$12.99</h2>
                <div class="info-btns">
                    <a href="#" class="btn cart-btn">Comprar ahora</a>
                </div>
            </div>
        </div>
            
        <!--Slider de productos-->
        <div class="product-slider">
            <div class="product-slider-container mb-3">
                <!--Contenido del primer slider-->
                <div class="card product-slider-card">
                    <div class="row no-gutters">
                        <div class="col-5">
                            <img src="../../resources/img/socks.jpg" class="card-img" alt="...">
                        </div>
                        <div class="col-7">
                            <div class="card-body">
                                <h5 class="card-title">Banana Socks</h5>
                                <span class="fa fa-star star-active"></span>
                                <span class="fa fa-star star-active"></span>
                                <span class="fa fa-star star-active"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <p class="card-text"><small class="text-muted">$5.00</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Contenido del primer slider-->
                <div class="card product-slider-card">
                    <div class="row no-gutters">
                        <div class="col-5">
                            <img src="../../resources/img/socks.jpg" class="card-img" alt="...">
                        </div>
                        <div class="col-7">
                            <div class="card-body">
                                <h5 class="card-title">Banana Socks</h5>
                                <span class="fa fa-star star-active"></span>
                                <span class="fa fa-star star-active"></span>
                                <span class="fa fa-star star-active"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <p class="card-text"><small class="text-muted">$5.00</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Contenido de primer slider-->
                <div class="card product-slider-card">
                    <div class="row no-gutters">
                        <div class="col-5">
                            <img src="../../resources/img/socks.jpg" class="card-img" alt="...">
                        </div>
                        <div class="col-7">
                            <div class="card-body">
                                <h5 class="card-title">Banana Socks</h5>
                                <span class="fa fa-star star-active"></span>
                                <span class="fa fa-star star-active"></span>
                                <span class="fa fa-star star-active"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <p class="card-text"><small class="text-muted">$5.00</small></p>
                            </div>
                        </div>
                    </div>
                </div> 
                <!--Contenido del primer slider-->
                <div class="card product-slider-card">
                    <div class="row no-gutters">
                        <div class="col-5">
                            <img src="../../resources/img/socks.jpg" class="card-img" alt="...">
                        </div>
                        <div class="col-7">
                            <div class="card-body">
                                <h5 class="card-title">Banana Socks</h5>
                                <span class="fa fa-star star-active"></span>
                                <span class="fa fa-star star-active"></span>
                                <span class="fa fa-star star-active"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <p class="card-text"><small class="text-muted">$5.00</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Slider de productos-->
    
        <!--Section que contiene la información de relevancia para los compradores-->
        <section class="container-fluid section-info">
            <div class="row justify-content-center no-gutters">
                <!--Card deck-->
                <!--Card-->
                <div class="card text-center">
                    <div class="card-body">
                        <div class="fas fa-heart mb-5 icons-card-index"></div>
                        <h2 class="card-title mb-4">Diseños únicos</h2>
                        <p class="card-text mx-5">Diseños creados especialmente para representar
                            a cada personalidad, y a aquella personalidad alocada que todos llevamos
                            dentro.
                        </p>
                    </div>
                </div>
                <!--Card-->
                <div class="card text-center mx-5">
                    <div class="card-body">
                        <div class="mb-5 icons-card-index" >
                            <i class="fas fa-truck"></i>
                        </div>
                        <h2 class="card-title mb-4">Envíos a todo el país</h2>
                        <p class="card-text mx-5">Envíos rápidos y económicos a cada rincón de país.
                            Entregas hasta la puerta de tu casa, tu oficina o centros comerciales.
                        </p>
                    </div>
                </div>
                <!--Card-->
                <div class="card text-center">
                    <div class="card-body">
                        <div class="fas fa-piggy-bank mb-5 icons-card-index"></div>
                        <h2 class="card-title mb-4">Precios asequibles</h2>
                        <p class="card-text mx-5">Porque pensamos en la economía y
                            las posibilidades de nuestros clientes especiales, contamos con
                            precios desde $5 dólares, asequibles a todo público.</p>
                    </div>
                </div>
            </div>
        </section>
        <hr>
        <!--Section que contiene el apartado descubrir de las nuevas colecciones-->
        <section class="container-fluid section-info">
            <div class="row justify-content-center">
                <div class="text-center col-md-6 justify-content-center">
                    <img src="../../resources/img/socks.jpg" alt="..." class="img-fluid float-right img-size mb-5 justify-content-center">
                </div>    
                <div class="text-center col-md-6 justify-content-center orientacion">
                    <h1 class="mb-5 discover-h1">BEE SOCK</h1>
                    <p class="mb-5">Encuentra los calcetines que más te representan con nuestra nueva colección de animales</p>
                        <div class="info-btns justify-content-center">
                            <a href="#" class="btn cart-btn">Descubrir</a>
                        </div>
                </div>    
            </div>
        </section>
        <hr>
        <!--Section que contiene el slider de los productos exclusivos-->
        <section class="container-fluid mb-5">
            <h1 class="text-center mb-5">Exclusivos</h1>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner row w-100 mx-auto">
                    <div class="carousel-item col-md-4 active">
                        <div class="card card-reset-index">
                            <img class="card-img-top img-fluid" src="../../resources/img/socks3.jpg"
                                alt="Card image cap">
                            <div class="card-body card-body-reset-index">
                                <h1 class="card-title card-tittle-reset-index mt-5 text-center">Penguin Sock</h1>
                                <p class="card-text text-center">$5</p>
                            </div>
                        </div>
                    </div>
                    <!--Item del carousel-->
                    <div class="carousel-item col-md-4">
                        <div class="card card-reset-index">
                            <img class="card-img-top img-fluid" src="../../resources/img/socks2.jpg"
                                alt="Card image cap">
                            <div class="card-body card-body-reset-index">
                                <h1 class="card-title card-tittle-reset-index mt-5 text-center">Penguin Sock</h1>
                                <p class="card-text text-center">$5</p>
                            </div>
                        </div>
                    </div>
                    <!--Item del carousel-->
                    <div class="carousel-item col-md-4">
                        <div class="card card-reset-index">
                            <img class="card-img-top img-fluid" src="../../resources/img/socks.jpg"
                                alt="Card image cap">
                            <div class="card-body card-body-reset-index">
                                <h1 class="card-title card-tittle-reset-index mt-5 text-center">Penguin Sock</h1>
                                <p class="card-text text-center">$5</p>
                            </div>
                        </div>
                    </div>
                    <!--Item del carousel-->
                    <div class="carousel-item col-md-4">
                        <div class="card card-reset-index">
                            <img class="card-img-top img-fluid" src="../../resources/img/socks3.jpg"
                                alt="Card image cap">
                            <div class="card-body card-body-reset-index">
                                <h1 class="card-title card-tittle-reset-index mt-5 text-center">Penguin Sock</h1>
                                <p class="card-text text-center">$5</p>
                            </div>
                        </div>
                    </div>
                    <!--Item del carousel-->
                    <div class="carousel-item col-md-4">
                        <div class="card card-reset-index">
                            <img class="card-img-top img-fluid" src="../../resources/img/socks2.jpg"
                                alt="Card image cap">
                            <div class="card-body card-body-reset-index">
                                <h1 class="card-title card-tittle-reset-index mt-5 text-center">Penguin Sock</h1>
                                <p class="card-text text-center">$5</p>
                            </div>
                        </div>
                    </div>
                    <!--Item del carousel-->
                    <div class="carousel-item col-md-4">
                        <div class="card card-reset-index">
                            <img class="card-img-top img-fluid" src="../../resources/img/socks3.jpg"
                                alt="Card image cap">
                            <div class="card-body card-body-reset-index">
                                <h1 class="card-title card-tittle-reset-index mt-5 text-center">Penguin Sock</h1>
                                <p class="card-text text-center">$5</p>
                            </div>
                        </div>
                    </div>
                    <!--Item del carousel-->
                    <div class="carousel-item col-md-4">
                        <div class="card card-reset-index">
                            <img class="card-img-top img-fluid" src="../../resources/img/socks.jpg"
                                alt="Card image cap">
                            <div class="card-body card-body-reset-index">
                                <h1 class="card-title card-tittle-reset-index mt-5 text-center">Penguin Sock</h1>
                                <p class="card-text text-center">$5</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Controlador izquierdo del slider-->
                <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <!--Controlador derecho del slider-->
                <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </section>
        <!-- Pie del documento -->
        <hr>
        <footer class="page-footer font-small pt-4 px-md-5">
            <!-- Footer Links -->
            <div class="container-fluid text-center text-md-left">
                <!-- Grid row -->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-md-3 mb-md-0 mb-3">
                        <!-- Links -->
                        <h5 class="text-uppercase">Links</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#!">Link 1</a>
                            </li>
                            <li>
                                <a href="#!">Link 2</a>
                            </li>
                            <li>
                                <a href="#!">Link 3</a>
                            </li>
                            <li>
                                <a href="#!">Link 4</a>
                            </li>
                        </ul>
                        <!-- Links -->
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-3 mb-md-0 mb-3">
                        <!-- Links -->
                        <h5 class="text-uppercase">Links</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#!">Link 1</a>
                            </li>
                            <li>
                                <a href="#!">Link 2</a>
                            </li>
                            <li>
                                <a href="#!">Link 3</a>
                            </li>
                            <li>
                                <a href="#!">Link 4</a>
                            </li>
                        </ul>
                        <!-- Links -->
                    </div>
                    <!-- Grid column -->
                    <hr class="clearfix w-100 d-md-none pb-3">
                    <!-- Grid column -->
                    <div class="col-md-6 mt-md-0 mt-3 text-md-right text-center">
                        <!-- Content -->
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacinia ultrices ipsum sit amet
                            malesuada.</p>
                        <p><a href="#">hello@lostsocksociety.com</a></p>
                        <div class="logo">
                            <img src="../../resources/img/logos.svg" alt="logo">
                        </div>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
            <!-- Footer Links -->
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">©2020 Copyright Lost Sock. Todos los derechos reservados.</div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <!-- Importación de archivos JavaScript al final del documento para una carga optimizada -->
        <script src="../../resources/js/jquery-3.4.1.min.js" type="text/javascript"></script>
        <script src="../../resources/js/popper.min.js" type="text/javascript"></script>
        <script src="../../resources/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="../../resources/js/main.js" type="text/javascript"></script>
    </body>
</html>