<!DOCTYPE html>
<html lang="es">

    <head>
        <!-- Se especifica la codificación de caracteres para el documento -->
        <meta charset="utf-8">
        <!-- Se indica al navegador que la página web está optimizada para dispositivos móviles -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Título del documento -->
        <title>Titulo</title>
        <!-- Importación de archivos CSS -->
        <link rel="stylesheet" href="../../resources/css/normalize.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap">
        <link rel="stylesheet" href="../../resources/css/all.min.css">
        <link rel="stylesheet" href="../../resources/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="../../resources/css/publicstyle.css" type="text/css">
        <!-- Llamada a un archivo tipo icono -->
        <!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> -->
    </head>
    <!-- Cuerpo del documento -->
    <body>
        <!-- Encabezado del documento -->
        <header class="header-normal">
            <div class="menu-toggle">
                <i class="fas fa-bars"></i>
            </div>
            <div class="overlay"></div>
            <!-- Menú/nav -->
            <nav class="navegation">
                <i class="fas fa-times close"></i>
                <div class="logo">
                    <img src="../../resources/img/logos.svg" alt="logo">
                </div>
                <!-- Parte central del nav-->
                <div class="nav-middle">
                    <ul>
                        <li>
                            <a href="#">Mujeres</a>
                        </li>
                        <li>
                            <a href="#">Hombres</a>
                        </li>
                        <li>
                            <a href="#">Niños</a>
                        </li>
                        <li>
                            <a href="#">Exclusivo</a>
                        </li>
                        <li>
                            <a href="#">Suscripción</a>
                        </li>
                    </ul>
                </div>
                <!-- Parte derecha del nav -->
                <div class="nav-right">
                    <ul>
                        <li>
                            <a href="#"><i class="fas fa-search"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-user"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-shopping-cart"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Contenedor principal -->
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
                <div class="col-md-8 col-lg-6">
                    <div class="login d-flex align-items-center py-5">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-9 col-lg-8 mx-auto">
                                    <!-- Título de bienvenida -->
                                    <h3 class="login-heading mb-4">¡Inicia una nueva aventura!</h3>
                                    <form>
                                        <!-- Formulario para nombres -->
                                        <label for="inputName">Nombres</label>
                                        <div class="form-label-group">
                                            <input type="text" id="inputName" class="form-control"
                                                placeholder="Nombres" required autofocus>
                                        </div>
                                        <!-- Formulario para apellidos -->
                                        <label for="inputSurname">Apellidos</label>
                                        <div class="form-label-group">
                                            <input type="text" id="inputSurname" class="form-control" 
                                                placeholder="Nombres" required autofocus>
                                        </div>
                                        <!-- Formulario para teléfono -->
                                        <label for="inputEmail">Teléfono</label>
                                        <div class="form-label-group">
                                            <input type="text" id="inputNumber" class="form-control"
                                                placeholder="Teléfono" required autofocus>
                                        </div>
                                        <!-- Formulario para usuario -->
                                        <label for="inputUser">Usuario</label>
                                        <div class="form-label-group">
                                            <input type="text" id="inputUser" class="form-control"
                                                placeholder="Usuario" required autofocus>
                                        </div>
                                        <!-- Formulario para correo -->
                                        <label for="inputEmail">Correo</label>
                                        <div class="form-label-group">
                                            <input type="email" id="inputEmail" class="form-control"
                                                placeholder="Correo" required autofocus>
                                        </div>
                                        <!-- Formulario para contraseña -->
                                        <label for="inputPassword">Contraseña</label>
                                        <div class="form-label-group">
                                            <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required>
                                        </div>
                                        <!-- Formulario para confirmar contraseña -->
                                        <label for="inputPassword">Confirmar contraseña</label>
                                        <div class="form-label-group">
                                            <input type="password" id="inputPassword" class="form-control"
                                                placeholder="Contraseña" required>
                                        </div>
                                        <!-- Botón de para registrarse -->
                                        <button
                                            class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2 mt-5"
                                            type="submit">Registrarse</button>
                                        <div class="text-center">
                                            <!-- Link para dirigirse a inicio de sesión -->
                                            <a class="small" href="#">¿Ya tienes una cuenta? Inicia sesión</a></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pie del documento -->
        <!-- Pie del documento -->
        <!-- Pie del documento -->
        <hr class="login-hr mt-0 mb-2">
        <footer class="page-footer font-small pt-4 px-md-5 mt-0s">
            <!-- Footer Links -->
            <div class="container-fluid text-center text-md-left">
                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-3 mb-md-0 mb-3">

                        <!-- Links -->
                        <h5 class="text-uppercase">Links</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href="#!">Link 1</a>
                            </li>
                            <li>
                                <a href="#!">Link 2</a>
                            </li>
                            <li>
                                <a href="#!">Link 3</a>
                            </li>
                            <li>
                                <a href="#!">Link 4</a>
                            </li>
                        </ul>
                        <!-- Links -->

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 mb-md-0 mb-3">

                        <!-- Links -->
                        <h5 class="text-uppercase">Links</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href="#!">Link 1</a>
                            </li>
                            <li>
                                <a href="#!">Link 2</a>
                            </li>
                            <li>
                                <a href="#!">Link 3</a>
                            </li>
                            <li>
                                <a href="#!">Link 4</a>
                            </li>
                        </ul>
                        <!-- Links -->
                    </div>
                    <!-- Grid column -->
                    <hr class="clearfix w-100 d-md-none pb-3">
                    <!-- Grid column -->
                    <div class="col-md-6 mt-md-0 mt-3 text-md-right text-center">

                        <!-- Content -->
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacinia ultrices ipsum sit amet
                            malesuada.</p>
                        <p><a href="#">hello@lostsocksociety.com</a></p>
                        <div class="logo">
                            <img src="../../resources/img/logos.svg" alt="logo">
                        </div>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
            <!-- Footer Links -->

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">©2020 Copyright Lost Sock. Todos los derechos reservados.</div>
            <!-- Copyright -->

        </footer>
        <!-- Footer -->
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <!-- Importación de archivos JavaScript al final del documento para una carga optimizada -->
        <script src="../../resources/js/jquery-3.4.1.min.js" type="text/javascript"></script>
        <script src="../../resources/js/popper.min.js" type="text/javascript"></script>
        <script src="../../resources/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="../../resources/js/main.js" type="text/javascript"></script>
    </body>
</html>