<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Se especifica la codificación de caracteres para el documento -->
    <meta charset="utf-8">
    <!-- Se indica al navegador que la página web está optimizada para dispositivos móviles -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Título del documento -->
    <title>Titulo</title>
    <!-- Importación de archivos CSS -->
    <link rel="stylesheet" href="../../resources/css/normalize.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap">
    <link rel="stylesheet" href="../../resources/css/all.min.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../resources/css/publicstyle.css" type="text/css">
    <!-- Llamada a un archivo tipo icono -->
    <!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> -->
</head>

<body>
    <div class="menu-toggle">
        <i class="fas fa-bars"></i>
    </div>
    <div class="overlay"></div>

    <nav class="navegation">
        <i class="fas fa-times close"></i>
        <div class="logo">
            <img src="../../resources/img/logos.svg" alt="logo">
        </div>

        <div class="nav-middle">
            <ul>
                <li>
                    <a href="#">Mujeres</a>
                </li>
                <li>
                    <a href="#">Hombres</a>
                </li>
                <li>
                    <a href="#">Niños</a>
                </li>
                <li>
                    <a href="#">Exclusivo</a>
                </li>
                <li>
                    <a href="#">Suscripción</a>
                </li>
            </ul>
        </div>

        <div class="nav-right">
            <ul>
                <li>
                    <a href="#"><i class="fas fa-search"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-user"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-shopping-cart"></i></a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Contenido principal del documento -->
    <div class="jumbotron jumbotron-fluid cover jumbotron-sizing bg-image jumbotron-suscripcion">
        <div class="container">
            <h1 class="display-3">La creatividad a tus pies</h1>
        </div>
        <div class="info-btns">
            <a href="#" class="btn cart-btn">Comprar ahora</a>
        </div>
    </div>
    <section class="container-fluid section-info">
        <div class="row justify-content-center">
            <div class="text-center col-md-6 justify-content-center">
                <img src="../../resources/img/socks.jpg" alt="..." class="img-fluid float-right img-size">
            </div>
            <div class="text-center col-md-6 justify-content-center orientacion">
                <h2>Lorem ipsum</h2>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus, error architecto,
                    debitis iste pariatur cum quis officiis quae illo blanditiis, eum earum ad voluptas
                    nobis adipisci exercitationem nisi! Aut, odio?</p>
                <button>
                    Lorem
                </button>
            </div>
        </div>
    </section>
    <section class="container-fluid section-info">
        <div class="row justify-content-center no-gutters">
            <div class="card text-center">
                <div class="card-body">
                    <div class="fas fa-heart"></div>
                    <h5 class="card-title">Lorem Ipsum</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacinia ultrices
                        ipsum sit amet malesuada. Sed ac scelerisque felis. Phasellus commodo nibh et lorem finibus, a
                        tempus neque imperdiet. Donec convallis neque quis luctus euismod.</p>
                </div>
            </div>
    
            <div class="card text-center mx-5">
                <div class="card-body">
                    <div class="fas fa-truck"></div>
                    <h5 class="card-title">Lorem Ipsum</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacinia ultrices
                        ipsum sit amet malesuada. Sed ac scelerisque felis. Phasellus commodo nibh et lorem finibus, a
                        tempus neque imperdiet. Donec convallis neque quis luctus euismod.</p>
                </div>
            </div>
    
            <div class="card text-center">
                <div class="card-body">
                    <div class="fas fa-piggy-bank"></div>
                    <h5 class="card-title">Lorem Ipsum</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacinia ultrices
                        ipsum sit amet malesuada. Sed ac scelerisque felis. Phasellus commodo nibh et lorem finibus, a
                        tempus neque imperdiet. Donec convallis neque quis luctus euismod.</p>
                </div>
            </div>
    
        </div>
    
    </section>
    <!-- Pie del documento -->
    <!-- Pie del documento -->
    <hr>
    <footer class="page-footer font-small pt-4 px-md-5">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->
                    <h5 class="text-uppercase">Links</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Link 1</a>
                        </li>
                        <li>
                            <a href="#!">Link 2</a>
                        </li>
                        <li>
                            <a href="#!">Link 3</a>
                        </li>
                        <li>
                            <a href="#!">Link 4</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->
                    <h5 class="text-uppercase">Links</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Link 1</a>
                        </li>
                        <li>
                            <a href="#!">Link 2</a>
                        </li>
                        <li>
                            <a href="#!">Link 3</a>
                        </li>
                        <li>
                            <a href="#!">Link 4</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->
                <hr class="clearfix w-100 d-md-none pb-3">
                <!-- Grid column -->
                <div class="col-md-6 mt-md-0 mt-3 text-md-right text-center">

                    <!-- Content -->
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacinia ultrices ipsum sit amet
                        malesuada.</p>
                    <p><a href="#">hello@lostsocksociety.com</a></p>
                    <div class="logo">
                        <img src="../../resources/img/logos.svg" alt="logo">
                    </div>
                </div>
                <!-- Grid column -->
            </div>


            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">©2020 Copyright Lost Sock. Todos los derechos reservados.</div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- Importación de archivos JavaScript al final del documento para una carga optimizada -->
    <script src="../../resources/js/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="../../resources/js/popper.min.js" type="text/javascript"></script>
    <script src="../../resources/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../../resources/js/main.js" type="text/javascript"></script>
</body>

</html>